@page
@model RentACarWebApp.Pages.About_UsModel
@{
	ViewData["Title"] = "About Us";
}
<style>
	body {
		background-color: blanchedalmond;
	}
</style>

@* first text start here ->*@
<h3 class="fifthpagefirstheadAboutus">About Auto Car </h3>
<p class="fifthpagefirsttextAboutus" >
	Auto Car is the leading national car rental company in Bulgaria.
	We operate with the largest fleet in the country, which currently consists of over 2000 cars, 90% of which are brand new or up to 3 years old.
	We offer national coverage of the service through more than 13 offices in the country and deliveries to every Bulgarian city and resort,
	as well as to major airports in the Balkans.
</p>
<img src="~/fifthpagefirstphoto.png" alt="fifthpagefirstphoto width="450" height="450" id="fifthpagefirstphoto" />
@*first text end here <-*@

@* second text start here ->*@
<h4 class="fifthpagesecondheadAboutus">Our Mission </h4>
<p class="fifthpagesecondtextAboutus">
	We strive for self-improvement and rely on our high-quality service and competitive prices.
	We work for the benefit of our clients and take into account all their needs, satisfying their wishes as well.
	We strive to upgrade our services and offers, renew our fleet, facilitate every action related to the reservation and save you time.
	Auto Car is always available with advice and suggestions. You can make your choice of rental car according to your needs.
	We will take care of your convenience and find the most suitable car for you.We achieved to be #1
	rated car rental company operating in Bulgaria and we keep improving the quality by providing professional service, technical innovations,
	new cars and competitive prices.
</p>
<img src="~/fifthpagesecondphotooo.png" alt="fifthpagesecondphoto width="450" height="450" id="fifthpagesecondphoto" />
@*second text end here <-*@

@*down navigation start here-> *@
<footer class="border-top3 footer text-muted">
	<div class="container4">
		&copy; 2024 - RentACarWebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
	</div>
</footer>
@*down navigation end here <- *@
