@page
@model RentACarWebApp.Pages.audietronjeepModel
@{
	ViewData["Title"] = "Audi E-Tron";
}

<style>
    body {
        background-color: blanchedalmond;
        font-family: Arial, sans-serif;
    }

    table {
        position: absolute;
        left: -50px;
        top: 200px;
        width: 80%;
        border: outset;
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 18px;
        text-align: left;
    }

    th, td {
        padding: 12px;
        border-bottom: 1px solid black;
    }

    th, td {
        background-color: white;
    }
</style>

<h1 class="audijeepfirsthead">Audi E-Tron</h1>
<h3 class="audijeepsecondhead">Technical specifications</h3>
<table>
    <tr>
        <th>Brand</th>
        <td>Audi</td>
    </tr>
    <tr>
        <th>Model</th>
        <td>E-Tron</td>
    </tr>
    <tr>
        <th>
            Body type
        </th>
        <td>Jeep</td>
    </tr>
    <tr>
        <th>Fuel</th>
        <td>
            Electric
        </td>
    </tr>
    <tr>
        <th>
            Gear box
        </th>
        <td>Automatic</td>
    </tr>
    <tr>
        <th>
            Number of seats
        </th>
        <td>5</td>
    </tr>
    <tr>
        <th>
            Tank volume
        </th>
        <td>90 l</td>
    </tr>
    <tr>
        <th>Doors</th>
        <td>4</td>
    </tr>
    <tr>
        <th>Battery capacity [kWh]</th>
        <td>74 kWh</td>
    </tr>
    <tr>
        <th>
            date of manufacture
        </th>
        <td>
            July 2021

        </td>
    </tr>
</table>

<h1 class="audijeepthirdhead">Gallery</h1>
<img src="~/audijeep0.png" alt="audijeep" id="audijeeppage123" height="500" width="700" />
<img src="~/audijeeppage1.png" alt="audijeeppage1" id="audijeeppage1" height="500" width="700" />
<img src="~/audijeeppage2.png" alt="audijeeppage2" id="audijeeppage2" height="500" width="700" />
<img src="~/audijeeppage3.png" alt="audijeeppage3" id="audijeeppage3" height="500" width="700" />
<img src="~/audijeeppage4.png" alt="audijeeppage4" id="audijeeppage4" height="500" width="700" />
<img src="~/audijeeppage5.png" alt="audijeeppage5" id="audijeeppage5" height="500" width="700" />
<h4 class="audijeepfourthhead">Locations - Pieces:</h4>
<p class="audijeepfifthhead">Varna - 2</p>
<p class="audijeepsixthhead">Sofia - 2</p>
<h4 class="audijeepseventhhead">For more information and to rent this car, call the indicated phone numbers or send an inquiry to our email address.</h4>



@*down navigation start here-> *@
<footer class="border-top8 footer text-muted">
    <div class="container9">
        &copy; 2024 - RentACarWebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>
@*down navigation end here <- *@