@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
	body {
		background-color:blanchedalmond;
	}
</style>
@* mercedes image with the two texts start here *@
<img src="~/firstpagefirstphoto.png" alt="firstpagefirstphoto width="450" height="450" id="firstpagefirstphoto" />
<h3 class="firstpagestart-firsthead">|AUTO CAR|</h3>
<p class="firstpage-firsttext">
	Auto Car provides more choice than other car rental companies. We are your transport solution.
	Our fleet of cars is ready to meet all your needs – from cozy city cars to spacious SUVs.
	Enjoy freedom on the road and a hassle-free ride with a car that meets your expectations.
	Discover new opportunities and unforgettable moments with us!
</p>
@*end here*@

@* second image with the two texts start here*@
<img src="~/firstpagesecondphoto.png" alt="firstpagesecondphoto width="450" height="450" id="firstpagesecondphoto" />
<h3 class="firstpagestart-secondhead">
	|CAR RENTAL FOR BUSINESS|
</h3>
<p class="firstpage-secondtext">
	Our customized business programs scale to meet specific needs.
	We offer specialized rental programs for companies and organizations.
	We can develop a flexible program to suit your company.
	Whether you have your own business or manage a fleet of vehicles,
	Auto Car can help you by designing a car rental program
	that is tailored to your specific needs.
	With it, you will be able to more easily manage expenses,
	control business trips and increase your efficiency.
</p>
@*end here*@

@* third image with the two texts start here*@
<img src="~/firstpagepartnersphoto.png" alt="firstpagepartnersphoto width="650" height="500px" id="firstpagepartnersphoto" />
<h3 class="firstpagestart-thirdhead">
	|PARTNERS|
</h3>
<p class="firstpage-thirdtext">
	Auto Car is an official partner of BOTEV PLOVDIV.
	Whether you're traveling to home games or away,
	following your favorite team progressing to the final,
	the cars in our fleet are at your disposal!
</p>
@*end here*@

@*down navigation start here-> *@
<footer class="border-top footer text-muted">
	<div class="container2">
		&copy; 2024 - RentACarWebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
	</div>
</footer>
@*down navigation end here <- *@