@page
@model RentACarWebApp.Pages.JeepsModel
@{
	ViewData["Title"] = "Jeeps";
}

<style>
	body {
		background-color: blanchedalmond;
	}

</style>


<h1 class="jeepsfirsthead">Cars for rent-Jeeps</h1>
<h3 class="jeepsfirstparagraph">
	A variety of luxury and everyday SUVs at great prices.
	You can take advantage of the delivery of a jeep rental directly to an address specified by you, or rent from one of our offices across the country.
</h3>

<div class="image-container9">
	<a href="/mercedeseqc400jeep">
		<img src="~/mercedesjeep.png" alt="mercedesjeep" id="mercedesjeep" />

		<div class="image-text9">
			<p><strong>Mercedes-Benz EQC 400</strong></p>
			<p><strong>Date of manufacture:</strong> February 2021</p>
			<p><strong>Engine:</strong> Electric</p>
			<p><strong>Euro standard:</strong> Euro 6</p>
			<p><strong>Gearbox:</strong> Automatic</p>
		</div>
</div>
</a>

<div class="image-container10">
	<a href="/audietronjeep">
		<img src="~/audijeep0.png" alt="audijeep" id="audijeep" />

		<div class="image-text10">
			<p><strong>Audi E-Tron</strong></p>
			<p><strong>Date of manufacture:</strong>July 2021</p>
			<p><strong>Engine:</strong> Electric</p>
			<p><strong>Euro standard:</strong> Euro 6</p>
			<p><strong>Gearbox:</strong> Automatic</p>
		</div>
</div>
</a>

<div class="image-container11">
	<a href="/bmwx4jeep">
		<img src="~/bmwjeep0.png" alt="bmwjeep" id="bmwjeep" />

		<div class="image-text11">
			<p><strong>BMW X4</strong></p>
			<p><strong>Date of production:</strong> May 2020</p>
			<p><strong>Engine:</strong> Gasoline</p>
			<p><strong>Euro standard:</strong> Euro 6</p>
			<p><strong>Gearbox:</strong> Automatic</p>
		</div>
</div>
</a>

<div class="image-container12">
	<a href="/mercedesgle53jeep">
		<img src="~/mercedesjeep2.png" alt="mercedesjeep2" id="mercedesjeep2" />

		<div class="image-text12">
			<p><strong>Mercedes-Benz GLE 53</strong></p>
			<p><strong>Date of manufacture:</strong> July 2022</p>
			<p><strong>Engine:</strong> Hybrid</p>
			<p><strong>Euro standard:</strong> Euro 6</p>
			<p><strong>Gearbox:</strong> Automatic</p>
		</div>
</div>
</a>

@*down navigation start here-> *@
<footer class="border-top7 footer text-muted">
	<div class="container8">
		&copy; 2024 - RentACarWebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
	</div>
</footer>
@*down navigation end here <- *@

