@page
@model RentACarWebApp.Pages.Luxury_CarsModel
@{
	ViewData["Title"] = "Luxury Cars";
}


<style>
	body {
		background-color: blanchedalmond;
	}

</style>


<h1 class="luxurycarsfirsthead">Cars for rent-Luxury Cars</h1>
<h3 class="luxurycarsfirstparagraph">
	We rent the latest models of luxury cars for business and everyday life.A wide variety of rare cars.
</h3>

<div class="image-container13">
	<a href="/mercedesamggt63sluxury">
		<img src="~/mercedesluxury.png" alt="mercedesluxury" id="mercedesluxury" />

		<div class="image-text13">
			<p><strong>Mercedes-Benz AMG GT 63S</strong></p>
			<p><strong>Date of manufacture:</strong> January 2023</p>
			<p><strong>Engine:</strong> Gasoline</p>
			<p><strong>Euro standard:</strong> Euro 6</p>
			<p><strong>Gearbox:</strong> Automatic</p>
		</div>
</div>
</a>

<div class="image-container14">
	<a href="/audia8luxury">
		<img src="~/audiluxury.png" alt="audiluxury" id="audiluxury" />

		<div class="image-text14">
			<p><strong>Audi A8</strong></p>
			<p><strong>Date of production:</strong>May 2023</p>
			<p><strong>Engine:</strong> Diesel</p>
			<p><strong>Euro standard:</strong> Euro 6</p>
			<p><strong>Gearbox:</strong> Automatic</p>
		</div>
</div>
</a>

<div class="image-container15">
	<a href="/bmw740luxury">
		<img src="~/bmwluxury.png" alt="bmwluxury" id="bmwluxury" />

		<div class="image-text15">
			<p><strong>BMW 740</strong></p>
			<p><strong>Date of manufacture:</strong> August 2023</p>
			<p><strong>Engine:</strong> Diesel</p>
			<p><strong>Euro standard:</strong> Euro 6</p>
			<p><strong>Gearbox:</strong> Automatic</p>
		</div>
</div>
</a>

<div class="image-container16">
	<a href="/mercedess680luxury">
		<img src="~/mercedesluxury2.png" alt="mercedesluxury2" id="mercedesluxury2" />

		<div class="image-text16">
			<p><strong>Mercedes-Benz S 680 Maybach</strong></p>
			<p><strong>Date of manufacture:</strong>January 2023</p>
			<p><strong>Engine:</strong> Gasoline</p>
			<p><strong>Euro standard:</strong> Euro 6</p>
			<p><strong>Gearbox:</strong> Automatic</p>
		</div>
</div>
</a>

@*down navigation start here-> *@
<footer class="border-top7 footer text-muted">
	<div class="container8">
		&copy; 2024 - RentACarWebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
	</div>
</footer>
@*down navigation end here <- *@

