@page
@model RentACarWebApp.Pages.mercedescls350combiModel
@{
	ViewData["Title"] = "Mercedes-Benz CLS 350";
}

<style>
    body {
        background-color: blanchedalmond;
        font-family: Arial, sans-serif;
    }

    table {
        position: absolute;
        left: -50px;
        top: 200px;
        width: 80%;
        border: outset;
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 18px;
        text-align: left;
    }

    th, td {
        padding: 12px;
        border-bottom: 1px solid black;
    }

    th, td {
        background-color: white;
    }
</style>

<h1 class="mercedescombifirsthead">Mercedes-Benz CLS 350</h1>
<h3 class="mercedescombisecondhead">Technical specifications</h3>
<table>
    <tr>
        <th>Brand</th>
        <td>Mercedes-Benz</td>
    </tr>
    <tr>
        <th>Model</th>
        <td>CLS 350</td>
    </tr>
    <tr>
        <th>
            Body type
        </th>
        <td>Station wagon</td>
    </tr>
    <tr>
        <th>Fuel</th>
        <td>Diesel</td>
    </tr>
    <tr>
        <th>
            Gear box
        </th>
        <td>Automatic</td>
    </tr>
    <tr>
        <th>
            Number of seats
        </th>
        <td>5</td>
    </tr>
    <tr>
        <th>
            Tank volume
        </th>
        <td>90 l</td>
    </tr>
    <tr>
        <th>
            Fuel consumption
        </th>
        <td>8.5 l/100 km</td>
    </tr>
    <tr>
        <th>Doors</th>
        <td>4</td>
    </tr>
    <tr>
        <th>Engine displacement</th>
        <td>3500 cm<sup>3</sup></td>
    </tr>
    <tr>
        <th>
            date of manufacture
        </th>
        <td>December 2016</td>
    </tr>
</table>

<h1 class="mercedescombithirdhead">Gallery</h1>
<img src="~/mercedescombii.png" alt="mercedescombipage" id="mercedescombipage" height="500" width="700" />
<img src="~/mercedescombipage1.png" alt="mercedescombipage1" id="mercedescombipage1" height="500" width="700" />
<img src="~/mercedescombipage2.png" alt="mercedescombipage2" id="mercedescombipage2" height="500" width="700" />
<img src="~/mercedescombipage3.png" alt="mercedescombipage3" id="mercedescombipage3" height="500" width="700" />
<img src="~/mercedescombipage4.png" alt="mercedescombipage4" id="mercedescombipage4" height="500" width="700" />
<img src="~/mercedescombipage5.png" alt="mercedescombipage5" id="mercedescombipage5" height="500" width="700" />
<h4 class="mercedescombifourthhead">Locations - Pieces:</h4>
<p class="mercedescombififthhead">Plovdiv - 3</p>
<p class="mercedescombisixthhead">Sofia - 1</p>
<h4 class="mercedescombiseventhhead">For more information and to rent this car, call the indicated phone numbers or send an inquiry to our email address.</h4>



@*down navigation start here-> *@
<footer class="border-top8 footer text-muted">
    <div class="container9">
        &copy; 2024 - RentACarWebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>
@*down navigation end here <- *@
