@page
@model RentACarWebApp.Pages.mercedessedan2Model
@{
	ViewData["Title"] = "Mercedes-Benz CLA 200";
}

<style>
    body {
        background-color: blanchedalmond;
        font-family: Arial, sans-serif;
    }

    table {
        position: absolute;
        left: -50px;
        top: 200px;
        width: 80%;
        border: outset;
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 18px;
        text-align: left;
    }

    th, td {
        padding: 12px;
        border-bottom: 1px solid black;
    }

    th, td {
        background-color: white;
    }
</style>

<h1 class="mercedessedan2firsthead">Mercedes-Benz CLA 200</h1>
<h3 class="mercedessedan2secondhead">Technical specifications</h3>
<table>
    <tr>
        <th>Brand</th>
        <td>Mercedes-Benz</td>
    </tr>
    <tr>
        <th>Model</th>
        <td>CLA 200</td>
    </tr>
    <tr>
        <th>
            Body type
        </th>
        <td>Sedan</td>
    </tr>
    <tr>
        <th>Fuel</th>
        <td>Gasoline</td>
    </tr>
    <tr>
        <th>
            Gear box
        </th>
        <td>Automatic</td>
    </tr>
    <tr>
        <th>
            Number of seats
        </th>
        <td>5</td>
    </tr>
    <tr>
        <th>
            Tank volume
        </th>
        <td>60 l</td>
    </tr>
    <tr>
        <th>
            Fuel consumption
        </th>
        <td>6 l/100 km</td>
    </tr>
    <tr>
        <th>Doors</th>
        <td>4</td>
    </tr>
    <tr>
        <th>Engine displacement</th>
        <td>2000 cm<sup>3</sup></td>
    </tr>
    <tr>
        <th>
            date of manufacture
        </th>
        <td>January 2023</td>
    </tr>
</table>

<h1 class="mercedessedan2thirdhead">Gallery</h1>
<img src="~/mercedessedan22.png" alt="mercedessedan2page" id="mercedessedan2page" height="500" width="700" />
<img src="~/mercedessedan2page1.png" alt="mercedessedan2page1" id="mercedessedan2page1" height="500" width="700" />
<img src="~/mercedessedan2page2.png" alt="mercedessedan2page2" id="mercedessedan2page2" height="500" width="700" />
<img src="~/mercedessedan2page3.png" alt="mercedessedan2page3" id="mercedessedan2page3" height="500" width="700" />
<img src="~/mercedessedan2page4.png" alt="mercedessedan2page4" id="mercedessedan2page4" height="500" width="700" />
<img src="~/mercedessedan2page5.png" alt="mercedessedan2page5" id="mercedessedan2page5" height="500" width="700" />
<h4 class="mercedessedan2fourthhead">Locations - Pieces:</h4>
<p class="mercedessedan2fifthhead">Plovdiv - 2</p>
<p class="mercedessedan2sixthhead">Sofia - 4</p>
<h4 class="mercedessedan2seventhhead">For more information and to rent this car, call the indicated phone numbers or send an inquiry to our email address.</h4>



@*down navigation start here-> *@
<footer class="border-top8 footer text-muted">
    <div class="container9">
        &copy; 2024 - RentACarWebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>
@*down navigation end here <- *@
