@page
@model RentACarWebApp.Pages.mercedesamggt63sModel
@{
	ViewData["Title"] = "Mercedes-Benz AMG GT 63S";
}

<style>
    body {
        background-color: blanchedalmond;
        font-family: Arial, sans-serif;
    }

    table {
        position: absolute;
        left: -50px;
        top: 200px;
        width: 80%;
        border: outset;
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 18px;
        text-align: left;
    }

    th, td {
        padding: 12px;
        border-bottom: 1px solid black;
    }

    th, td {
        background-color: white;
    }
</style>

<h1 class="mercedesluxuryfirsthead">Mercedes-Benz AMG GT 63S</h1>
<h3 class="mercedesluxurysecondhead">Technical specifications</h3>
<table>
    <tr>
        <th>Brand</th>
        <td>Mercedes-Benz</td>
    </tr>
    <tr>
        <th>Model</th>
        <td>GT 63S</td>
    </tr>
    <tr>
        <th>
            Body type
        </th>
        <td>Sedan</td>
    </tr>
    <tr>
        <th>Fuel</th>
        <td>
            Gasoline
        </td>
    </tr>
    <tr>
        <th>
            Gear box
        </th>
        <td>Automatic</td>
    </tr>
    <tr>
        <th>Horse powers</th>
        <td>843 h.p</td>
    </tr>
    <tr>
        <th>
            Number of seats
        </th>
        <td>5</td>
    </tr>
    <tr>
        <th>
            Tank volume
        </th>
        <td>85 l</td>
    </tr>
    <tr>
        <th>Doors</th>
        <td>4</td>
    </tr>
    <tr>
        <th>
            date of manufacture
        </th>
        <td>
            January 2023
        </td>
    </tr>
</table>

<h1 class="mercedesluxurythirdhead">Gallery</h1>
<img src="~/mercedesluxury.png" alt="mercedesluxury" id="mercedesluxury0" height="500" width="700" />
<img src="~/mercedesluxury1.png" alt="mercedesluxury1" id="mercedesluxury1" height="500" width="700" />
<img src="~/mercedesluxury22.png" alt="mercedesluxury2" id="mercedesluxury22" height="500" width="700" />
<img src="~/mercedesluxury3.png" alt="mercedesluxury3" id="mercedesluxury3" height="500" width="700" />
<img src="~/mercedesluxury4.png" alt="mercedesluxury4" id="mercedesluxury4" height="500" width="700" />
<img src="~/mercedesluxury5.png" alt="mercedesluxury5" id="mercedesluxury5" height="500" width="700" />
<h4 class="mercedesluxuryfourthhead">Locations - Pieces:</h4>
<p class="mercedesluxuryfifthhead">Plovdiv - 1</p>
<p class="mercedesluxurysixthhead">Sofia - 1</p>
<h4 class="mercedesluxuryseventhhead">For more information and to rent this car, call the indicated phone numbers or send an inquiry to our email address.</h4>



@*down navigation start here-> *@
<footer class="border-top8 footer text-muted">
    <div class="container9">
        &copy; 2024 - RentACarWebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>
@*down navigation end here <- *@


