@page
@model RentACarWebApp.Pages.mercedess680luxuryModel
@{
	ViewData["Title"] = "Mercedes-Benz S 680 Maybach";
}

<style>
    body {
        background-color: blanchedalmond;
        font-family: Arial, sans-serif;
    }

    table {
        position: absolute;
        left: -50px;
        top: 200px;
        width: 80%;
        border: outset;
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 18px;
        text-align: left;
    }

    th, td {
        padding: 12px;
        border-bottom: 1px solid black;
    }

    th, td {
        background-color: white;
    }
</style>

<h1 class="mercedesluxury2firsthead">Mercedes-Benz S 680 Maybach</h1>
<h3 class="mercedesluxury2secondhead">Technical specifications</h3>
<table>
    <tr>
        <th>Brand</th>
        <td>Mercedes-Benz</td>
    </tr>
    <tr>
        <th>Model</th>
        <td> S 680 Maybach</td>
    </tr>
    <tr>
        <th>
            Body type
        </th>
        <td>Sedan</td>
    </tr>
    <tr>
        <th>Fuel</th>
        <td>
            Gasoline
        </td>
    </tr>
    <tr>
        <th>
            Gear box
        </th>
        <td>Automatic</td>
    </tr>
    <tr>
        <th>Horse powers</th>
        <td>612 h.p</td>
    </tr>
    <tr>
        <th>
            Number of seats
        </th>
        <td>5</td>
    </tr>
    <tr>
        <th>
            Tank volume
        </th>
        <td>95 l</td>
    </tr>
    <tr>
        <th>Doors</th>
        <td>4</td>
    </tr>
    <tr>
        <th>
            date of manufacture
        </th>
        <td>
            January 2023
        </td>
    </tr>
</table>

<h1 class="mercedesluxury2thirdhead">Gallery</h1>
<img src="~/mercedesluxury2.png" alt="mercedesluxury02" id="mercedesluxury02" height="500" width="700" />
<img src="~/mercedesluxury03.png" alt="mercedesluxury03" id="mercedesluxury03" height="500" width="700" />
<img src="~/mercedesluxury04.png" alt="mercedesluxury04" id="mercedesluxury04" height="500" width="700" />
<img src="~/mercedesluxury05.png" alt="mercedesluxury05" id="mercedesluxury05" height="500" width="700" />
<img src="~/mercedesluxury06.png" alt="mercedesluxury06" id="mercedesluxury06" height="500" width="700" />
<img src="~/mercedesluxury07.png" alt="mercedesluxury07" id="mercedesluxury07" height="500" width="700" />
<h4 class="mercedesluxury2fourthhead">Locations - Pieces:</h4>
<p class="mercedesluxury2fifthhead">Plovdiv - 1</p>
<p class="mercedesluxury2sixthhead">Sofia - 1</p>
<h4 class="mercedesluxury2seventhhead">For more information and to rent this car, call the indicated phone numbers or send an inquiry to our email address.</h4>



@*down navigation start here-> *@
<footer class="border-top8 footer text-muted">
    <div class="container9">
        &copy; 2024 - RentACarWebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>
@*down navigation end here <- *@