@page
@model RentACarWebApp.Pages.mercedescla180combiModel
@{
	ViewData["Title"] = "Mercedes-Benz CLA 180";
}

<style>
    body {
        background-color: blanchedalmond;
        font-family: Arial, sans-serif;
    }

    table {
        position: absolute;
        left: -50px;
        top: 200px;
        width: 80%;
        border: outset;
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 18px;
        text-align: left;
    }

    th, td {
        padding: 12px;
        border-bottom: 1px solid black;
    }

    th, td {
        background-color: white;
    }
</style>

<h1 class="mercedescombi2firsthead">Mercedes-Benz CLA 180</h1>
<h3 class="mercedescombi2secondhead">Technical specifications</h3>
<table>
    <tr>
        <th>Brand</th>
        <td>Mercedes</td>
    </tr>
    <tr>
        <th>Model</th>
        <td>CLA 180</td>
    </tr>
    <tr>
        <th>
            Body type
        </th>
        <td>Station wagon</td>
    </tr>
    <tr>
        <th>Fuel</th>
        <td>Diesel</td>
    </tr>
    <tr>
        <th>
            Gear box
        </th>
        <td>Automatic</td>
    </tr>
    <tr>
        <th>
            Number of seats
        </th>
        <td>5</td>
    </tr>
    <tr>
        <th>
            Tank volume
        </th>
        <td>70 l</td>
    </tr>
    <tr>
        <th>
            Fuel consumption
        </th>
        <td>4.5 l/100 km</td>
    </tr>
    <tr>
        <th>Doors</th>
        <td>4</td>
    </tr>
    <tr>
        <th>Engine displacement</th>
        <td>1800 cm<sup>3</sup></td>
    </tr>
    <tr>
        <th>
            date of manufacture
        </th>
        <td>December 2022</td>
    </tr>
</table>

<h1 class="mercedescombi2thirdhead">Gallery</h1>
<img src="~/mercedescombi12.png" alt="mercedescombi2" id="mercedescombi12" height="500" width="700" />
<img src="~/mercedescombi3.png" alt="mercedescombi3" id="mercedescombi3" height="500" width="700" />
<img src="~/mercedescombi4.png" alt="mercedescombi4" id="mercedescombi4" height="500" width="700" />
<img src="~/mercedescombi5.png" alt="mercedescombi5" id="mercedescombi5" height="500" width="700" />
<img src="~/mercedescombi6.png" alt="mercedescombi6" id="mercedescombi6" height="500" width="700" />
<img src="~/mercedescombi7.png" alt="mercedescombi7" id="mercedescombi7" height="500" width="700" />
<h4 class="mercedescombi2fourthhead">Locations - Pieces:</h4>
<p class="mercedescombi2fifthhead">Plovdiv - 3</p>
<p class="mercedescombi2sixthhead">Sofia - 2</p>
<h4 class="mercedescombi2seventhhead">For more information and to rent this car, call the indicated phone numbers or send an inquiry to our email address.</h4>



@*down navigation start here-> *@
<footer class="border-top8 footer text-muted">
    <div class="container9">
        &copy; 2024 - RentACarWebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>
@*down navigation end here <- *@

