@page
@model RentACarWebApp.Pages.PlovdivModel
@{
	ViewData["Title"] = "Plovdiv";
}

<style>

	body {
		background-color: blanchedalmond;
	}

</style>

@*images start*@
<img src="~/firstphotoplovdiv.png" alt="firstphotoplovdiv" width="500" height="450" id="firstphotoplovdiv" />
<img src="~/secondphotoplovdiv.png" alt="secondphotoplovdiv" width="500" height="450" id="secondphotoplovdiv" />
@*images end*@

@*text start*@
<h2 class="thirdpagestart-firstheadPlovdiv">Car rental in Plovdiv</h2>
<h3 class="thirdpagestart-secondheadPlovdiv">Where is the fastest and easiest way to rent a car in Plovdiv?</h3>
<p class="thirdpagestart-firsttextPlovdiv">
	You can comfortably and quickly explore the interesting sights in Plovdiv and the region with a rental car. 
	If this is the starting point of your journey, we recommend that you rent a car from our office or request delivery to Plovdiv Airport
	or another address. To reserve a car, use the contacts provided by us.
</p>

<p class="thirdpagestart-secondtextPlovdiv">
	You can use Plovdiv as a starting point for your trip to the winter resorts, the mountains or throughout the country. 
	The process of renting a car in Plovdiv will take you no more than 15 minutes, but we advise you to reserve a car in advance
	through our national number: +359 191 21 912 - this will guarantee you an available free car for your period. 
	Our colleagues will assist you with pleasure if you need consultation and preparation of an offer on site from our office or over the phone.
</p>
@*text end*@

@*location map and texts start*@
<iframe class="thirdpagefirstlocationmapPlovdiv" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2958.372169923434!2d24.74952813605298!3d42.14231946449083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acd1a56d6ad8b9%3A0x4229c382a1dfeaa4!2z0JrQsNC80LXQvdC40YbQsCAx0J_Qu9C-0LLQtNC40LIg0KbQtdC90YLRitGALCDQsdGD0LsuIOKAntCm0LDRgCDQkdC-0YDQuNGBIElJSS3RgtC4INCe0LHQtdC00LjQvdC40YLQtdC74oCcIDEsIDQwMDAg0J_Qu9C-0LLQtNC40LI!5e0!3m2!1sbg!2sbg!4v1723457348722!5m2!1sbg!2sbg" width="600" height="450" style="border:5;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<p class="thirdpagestart-firsttextmapPlovdiv">
	Kamenitsa 1 Plovdiv Center, Tsar Boris III the Unifier Blvd. 1, 4000 Plovdiv
</p>

<iframe class="thirdpagesecondlocationmapPlovdiv" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1479.3610717889198!2d24.78707503984204!3d42.13483124554602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acd13d05b267b3%3A0x448f34e1baa1fa2d!2z0LrQsi4g0JfQsNGF0LDRgNC4INCX0L7Qs9GA0LDRhCAtINCQMTHQotGA0LDQutC40Y8sINC20Log0KLRgNCw0LrQuNGPIDUx0JAsIDQwMjMg0J_Qu9C-0LLQtNC40LI!5e0!3m2!1sbg!2sbg!4v1723457933180!5m2!1sbg!2sbg" width="600" height="450" style="border:5;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<p class="thirdpagestart-secondtextmapPlovdiv">
	Zahari Zograf Quarter - А11 Trakia, Trakia 51A, 4023 Plovdiv
</p>

<iframe class="thirdpagethirdlocationmapPlovdiv" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2961.4232523339842!2d24.841376775570886!3d42.076980252939705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acd7633bd6226f%3A0x74626df560a7d80f!2z0JvQtdGC0LjRidC1INCf0LvQvtCy0LTQuNCyLCA0MTEy!5e0!3m2!1sbg!2sbg!4v1723458643604!5m2!1sbg!2sbg" width="600" height="450" style="border:5;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<p class="thirdpagestart-thirdtextmapPlovdiv">
	Plovdiv Airport,Plovdiv
</p>
@*location map and texts end*@

@*down navigation start here-> *@
<footer class="border-top5 footer text-muted">
	<div class="container6">
		&copy; 2024 - RentACarWebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
	</div>
</footer>
@*down navigation end here <- *@