@page
@model RentACarWebApp.Pages.SedansModel
@{
	ViewData["Title"] = "Sedans";
}
<style>
	body {
		background-color: blanchedalmond;
	}

</style>

<h1 class="sedansfirsthead">Cars for rent-Sedans</h1>
<h3 class="sedansfirstparagraph">Auto Car offers compact, economical and new sedans. A variety of high-end cars for rent.</h3>

<div class="image-container">
	<a href="/mercedesc200sedans">
		<img src="~/mercedessedan1.png" alt="mercedessedan" id="mercedessedan" />

		<div class="image-text">
			<p><strong>Mercedes-Benz C 200</strong></p>
			<p><strong>Date of production:</strong> November 2022</p>
			<p><strong>Engine:</strong> Gasoline</p>
			<p><strong>Euro standard:</strong> Euro 6</p>
			<p><strong>Gearbox:</strong> Automatic</p>
			<p><strong>Consumption:</strong> 6.5L/100km</p>
		</div>
</div>
</a>

<div class="image-container2">
	<a href="/audia3sedans">
		<img src="~/audisedan.png" alt="audisedan" id="audisedan" />

		<div class="image-text2">
			<p><strong>Audi A3 2.0 TDI</strong></p>
			<p><strong>Date of manufacture:</strong> January 2022</p>
			<p><strong>Engine:</strong> Diesel</p>
			<p><strong>Euro standard:</strong> Euro 6</p>
			<p><strong>Gearbox:</strong> Automatic</p>
			<p><strong>Consumption:</strong> 4.5L/100km</p>
		</div>
</div>
</a>

<div class="image-container3">
	<a href="/bmw2grancoupe">
		<img src="~/bmwsedan.png" alt="bmwsedan" id="bmwsedan" />

		<div class="image-text3">
			<p><strong>BMW 2 Gran Coupe</strong></p>
			<p><strong>Date of production:</strong> June 2021</p>
			<p><strong>Engine:</strong> Gasoline</p>
			<p><strong>Euro standard:</strong> Euro 6</p>
			<p><strong>Gearbox:</strong> Automatic</p>
			<p><strong>Consumption:</strong> 7L/100km</p>
		</div>
</div>
</a>

<div class="image-container4">
	<a href="/mercedescla200sedans">
		<img src="~/mercedessedan22.png" alt="mercedessedan2" id="mercedessedan2" />

		<div class="image-text4">
			<p><strong>Mercedes-Benz CLA 200</strong></p>
			<p><strong>Date of manufacture:</strong> January 2023</p>
			<p><strong>Engine:</strong> Gasoline</p>
			<p><strong>Euro standard:</strong> Euro 6</p>
			<p><strong>Gearbox:</strong> Automatic</p>
			<p><strong>Consumption:</strong> 6L/100km</p>
		</div>
</div>
</a>

@*down navigation start here-> *@
<footer class="border-top7 footer text-muted">
	<div class="container8">
		&copy; 2024 - RentACarWebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
	</div>
</footer>
@*down navigation end here <- *@