@page
@model RentACarWebApp.Pages.SofiaModel
@{
	ViewData["Title"] = "Sofia";
}
<style>
	body {
		background-color: blanchedalmond;
	}
</style>

@*images start*@
<img src="~/firstphotosofia.png" alt="firstphotosofia" width="400" height="350" id="firstphotosofia" />
<img src="~/secondphotosofia.png" alt="secondphotosofia" width="400" height="350" id="secondphotosofia" />
@*images end*@

@*text start*@
<h2 class="thirdpagestart-firstheadSofia">Car rental in Sofia</h2>
<h3 class="thirdpagestart-secondheadSofia">Where is the fastest and easiest way to rent a car in Sofia?</h3>
<p class="thirdpagestart-firsttextSofia">
	If you plan to visit Sofia, you can rent a car from Auto Car.
	If you have not yet reserved a car, you can do so by visiting one of our car rental offices in Sofia.
	Auto Car has several offices in Sofia, located at Sofia Airport and in the city.
	Car deliveries are also made to any point in Sofia and the country.
</p>

<p class="thirdpagestart-secondtextSofia">
	You can use Sofia as a starting point for your trip to the mountains, the sea or any other destination in the entire country.
	Renting a car in Sofia will take you about 15 minutes, but we advise you to reserve a car
	in advance on our national number: 0191 21 912, as this will ensure you have a free car available for your period.
</p>
@*text end*@

@*location map and texts start*@
<iframe class="thirdpagefirstlocationmapSofia" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2467.6914512528488!2d23.37721922025052!3d42.64871903263739!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa86917a935809%3A0xe86daad32126af44!2z0JzQu9Cw0LTQvtGB0YIgMdCc0LvQsNC00L7RgdGCLCDQsdGD0LsuIOKAntCQ0LvQtdC60YHQsNC90LTRitGAINCc0LDQu9C40L3QvtCy4oCcLCAxNzg0INCh0L7RhNC40Y8!5e0!3m2!1sbg!2sbg!4v1723454965035!5m2!1sbg!2sbg" width="600" height="450" style="border:5;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<p class="thirdpagestart-firsttextmapSofia">
	Mladost 1, Alexander Malinov Blvd., 1784 Sofia
</p>

<iframe class="thirdpagesecondlocationmapSofia" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d518.1405884117172!2d23.305018873399405!3d42.72392155556509!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa901d209d2dbd%3A0x84ad7e4ca5244122!2z0LYu0LouINCd0LDQtNC10LbQtNCwIDEsINCx0YPQuy4g4oCe0JvQvtC80YHQutC-INGI0L7RgdC14oCcIDQ5LCAxMjIwINCh0L7RhNC40Y8!5e0!3m2!1sbg!2sbg!4v1723455619846!5m2!1sbg!2sbg" width="600" height="450" style="border:5;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<p class="thirdpagestart-secondtextmapSofia">Nadezhda 1, 49 Lomsko Shose Blvd., 1220 Sofia</p>

<iframe class="thirdpagethirdlocationmapSofia" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2932.696398558777!2d23.4110745866594!3d42.688973029885766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa861e1ce498a3%3A0x70fb2a2e4af9f4d6!2z0KLQtdGA0LzQuNC90LDQuyAyLCDQm9C10YLQuNGJ0LUg0KHQvtGE0LjRjywg0YPQuy4g4oCe0J_RgNC-0LTQsNC9INCi0LDRgNCw0LrRh9C40LXQsuKAnCwgMTUyOCDQodC-0YTQuNGP!5e0!3m2!1sbg!2sbg!4v1723456175477!5m2!1sbg!2sbg" width="600" height="450" style="border:5;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<p class="thirdpagestart-thirdtextmapSofia">Sofia Airport, Prodan Tarakchiev St., 1528 Sofia</p>
@*location map and texts end*@

@*down navigation start here-> *@
<footer class="border-top4 footer text-muted">
	<div class="container5">
		&copy; 2024 - RentACarWebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
	</div>
</footer>
@*down navigation end here <- *@