@page
@model RentACarWebApp.Pages.Station_wagonModel
@{
	ViewData["Title"] = "Station wagon";
}

<style>
	body {
		background-color: blanchedalmond;
	}

</style>


<h1 class="combifirsthead">Cars for rent-Station wagons</h1>
<h3 class="combifirstparagraph">
	Auto Car offers family car hire at low prices.
	This type of car is highly preferred by customers who have more luggage and want uncompromising quality for themselves and their families.
</h3>

<div class="image-container5">
	<a href="/mercedescls350combi">
		<img src="~/mercedescombii.png" alt="mercedescombi" id="mercedescombi" />

		<div class="image-text5">
			<p><strong>Mercedes-Benz CLS 350</strong></p>
			<p><strong>Date of manufacture:</strong> December 2016</p>
			<p><strong>Engine:</strong> Diesel</p>
			<p><strong>Euro standard:</strong> Euro 6</p>
			<p><strong>Gearbox:</strong> Automatic</p>
			<p><strong>Consumption:</strong> 8.5L/100km</p>
		</div>
</div>
</a>

<div class="image-container6">
	<a href="/audia4combi">
		<img src="~/audicombi1.png" alt="audicombi" id="audicombi" />

		<div class="image-text6">
			<p><strong>Audi A4 35TDI</strong></p>
			<p><strong>Date of manufacture:</strong>July 2021</p>
			<p><strong>Engine:</strong> Diesel</p>
			<p><strong>Euro standard:</strong> Euro 6</p>
			<p><strong>Gearbox:</strong> Automatic</p>
			<p><strong>Consumption:</strong> 7L/100km</p>
		</div>
</div>
</a>

<div class="image-container7">
	<a href="/bmw318combi">
		<img src="~/bmwcombi12.png" alt="bmwcombi" id="bmwcombi" />

		<div class="image-text7">
			<p><strong>BMW 318</strong></p>
			<p><strong>Date of manufacture:</strong> February 2020</p>
			<p><strong>Engine:</strong> Gasoline</p>
			<p><strong>Euro standard:</strong> Euro 6</p>
			<p><strong>Gearbox:</strong> Automatic</p>
			<p><strong>Consumption:</strong> 6L/100km</p>
		</div>
</div>
</a>

<div class="image-container8">
	<a href="/mercedescla180combi">
		<img src="~/mercedescombi12.png" alt="mercedescombi2" id="mercedescombi2" />

		<div class="image-text8">
			<p><strong>Mercedes-Benz CLA 180</strong></p>
			<p><strong>Date of manufacture:</strong> December 2022</p>
			<p><strong>Engine:</strong> Diesel</p>
			<p><strong>Euro standard:</strong> Euro 6</p>
			<p><strong>Gearbox:</strong> Automatic</p>
			<p><strong>Consumption:</strong> 4.5L/100km</p>
		</div>
</div>
</a>

@*down navigation start here-> *@
<footer class="border-top7 footer text-muted">
	<div class="container8">
		&copy; 2024 - RentACarWebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
	</div>
</footer>
@*down navigation end here <- *@
