@page
@model RentACarWebApp.Pages.VarnaModel
@{
	ViewData["Title"] = "Varna";
}

<style>
	body {
		background-color: blanchedalmond;
	}
</style>

@*images start*@
<img src="~/firstphotovarna.png" alt="firstphotovarna" width="440" height="350" id="firstphotovarna" />
<img src="~/secondphotovarna.png" alt="secondphotovarna" width="440" height="350" id="secondphotovarna" />
@*images end*@

@*text start*@
<h2 class="thirdpagestart-firstheadVarna">Car rental in Varna</h2>
<h3 class="thirdpagestart-secondheadVarna">Where is the fastest and easiest way to rent a car in Varna?</h3>
<p class="thirdpagestart-firsttextVarna">
	You can use Varna as a starting point for your trip along the Black Sea or any other destination in the country. 
	The rental procedure will take you about 15 minutes, but we advise you to reserve a car in advance on our national number:+359 191 21 912, as this will guarantee you a free car available
</p>

<p class="thirdpagestart-secondtextVarna">
	The sea capital is located near many Black Sea resorts, which can be quickly and easily reached by rental car from Varna. 
	Auto Car also offers direct deliveries to all sea, winter and golf resorts in Bulgaria. 
	In case you don't know the area, but want to see as many sights as possible, we recommend you to book GPS navigation, and if you want to be constantly online - you could also request 3G Wi-Fi.
</p>
@*text end*@

@*location map and texts start*@
<iframe class="thirdpagefirstlocationmapVarna" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d864.4776912997445!2d27.91489667683836!3d43.2148424331633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a4547268cc021b%3A0x25706507f4b1e214!2z0JLQsNGA0L3QsCDQptC10L3RgtGK0YDQn9GA0LjQvNC-0YDRgdC60LgsINGD0LsuIOKAntCR0LjRgtC-0LvRj-KAnCAxYSwgOTAwMiDQktCw0YDQvdCw!5e0!3m2!1sbg!2sbg!4v1723459676794!5m2!1sbg!2sbg" width="600" height="450" style="border:5;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<p class="thirdpagestart-firsttextmapVarna">
	Primorski Center, 1a "Bitolya" St., 9002 Varna
</p>

<iframe class="thirdpagesecondlocationmapVarna" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d726.7157724800942!2d27.99995014554466!3d43.23333006371289!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a4566869c0a9ed%3A0xff3632f79cb7cb3a!2z0KLRgNCw0LrQsNGC0LDQn9GA0LjQvNC-0YDRgdC60LgsINGD0LsuIOKAnjMzLdGC0LDigJwgNiwgOTAyMiDQktCw0YDQvdCw!5e0!3m2!1sbg!2sbg!4v1723459891077!5m2!1sbg!2sbg" width="600" height="450" style="border:5;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<p class="thirdpagestart-secondtextmapVarna">
	Trakata Primorski, 6 "33-ta" str., 9022 Varna
</p>

<iframe class="thirdpagethirdlocationmapVarna" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2906.7081654859894!2d27.824857349747152!3d43.23657797475279!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a5ab54c1a6bcc7%3A0xe64f6752bbd06f4b!2z0JzQtdC20LTRg9C90LDRgNC-0LTQvdC-INC70LXRgtC40YnQtS3QktCw0YDQvdCw!5e0!3m2!1sbg!2sbg!4v1723460407150!5m2!1sbg!2sbg" width="600" height="450" style="border:5;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<p class="thirdpagestart-thirdtextmapVarna">
	Varna International Airport
</p>
@*location map and texts end*@

@*down navigation start here-> *@
<footer class="border-top6 footer text-muted">
	<div class="container7">
		&copy; 2024 - RentACarWebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
	</div>
</footer>
@*down navigation end here <- *@