<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - RentACarWebApp</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/RentACarWebApp.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/site.css" />
	<style>
		.nav-item.dropdown:hover .dropdown-menu {
			display: block;
			margin-top: 23px;
			left: -197px;
			right: 390px;
			position: absolute;
			background-color: white;
		}
	</style>


</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-custom border-bottom box-shadow mb-3">
			<div class="container">
				<img src="~/winner.png" alt="winner logo" width="200" height="200" id="winner-logo" /></a>
				<a class="navbar-brand" asp-area="" asp-page="/Index"><img src="~/carlogonav.png" alt="rent a car logo" width="400" height="150" id="car-logonav" /></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item dropdown">
							<a class="nav-link2 text-dark dropdown-toggle" href="#" id="carFleetDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Car fleet
							</a>
							<ul class="dropdown-menu" aria-labelledby="carFleetDropdown">
								<li><a class="dropdown-item text-dark" href="/Sedans">Sedans</a></li>
								<li><a class="dropdown-item text-dark" href="/Station wagon">Station wagon</a></li>
								<li><a class="dropdown-item text-dark" href="/Jeeps">Jeeps</a></li>
								<li><a class="dropdown-item text-dark" href="/Luxury Cars">Luxury Cars</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link2 text-dark dropdown-toggle" href="#" id="LocationsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Locations
							</a>
							<ul class="dropdown-menu" aria-labelledby="LocationsDropdown">
								<li><a class="dropdown-item text-dark" href="/Plovdiv">Plovdiv</a></li>
								<li><a class="dropdown-item text-dark" href="/Sofia">Sofia</a></li>
								<li><a class="dropdown-item text-dark" href="/Varna">Varna</a></li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link2 text-dark" asp-area="" asp-page="/About Us">About Us</a>
						</li>
						<li class="nav-item">
							<a class="nav-link2 text-dark" asp-area="" asp-page="/Contacts">Contacts</a>
						</li>
					</ul>
					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	@*  <footer class="border-top footer text-muted">
	<div class="container">
	&copy; 2024 - RentACarWebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
	</div>
	</footer> *@

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>